.about-page {
    padding: 80px 10%;
    background-color: #fff;
    color: #111;
    overflow-x: hidden;
  }
  
  .about-title {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .about-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  }
  
  .about-text {
    flex: 1;
    padding: 40px;
    min-width: 280px;
    margin-top: 0;
  }
  
  .about-text h2{
    font-size: 36px;
    margin-bottom: 0;
  }

  .about-text p{
    font-size: 20px;
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .about-image {
    flex: 1;
    padding: 0 ;
    text-align: center;
    min-width: 280px;
  }
  
  .about-image img {
    width: 500px;
    height: 300px; 
    object-fit: cover; 
    
    
  }
  
  @media (max-width: 768px) {
    .about-box {
      flex-direction: column;
      text-align: center;
    }
  
    .about-image img {
      max-width: 100%;
    }
  }
  