.register-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .register-form {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
  }
  
  .register-form h2 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #b91c1c;
  }
  
  .register-form form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .register-form input {
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .register-form button {
    padding: 14px;
    font-size: 16px;
    border: none;
    background-color: #b91c1c;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 2s ease;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    
  }
  
  .register-form button:hover {
    background-color: #ec0909;
  }
  
  .register-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    transition:  1s ease-in-out ;
  }
  