.reset-bg {
  position: relative;
  min-height: 100vh;
  background: url("/images/mk2.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 16px;
  
  
}
.reset-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* มืดจาง ๆ ทับภาพพื้นหลัง */
  z-index: 0;
}

.reset-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 32px;
  border-radius: 40px 5px ;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  z-index: 1;

}

.reset-box h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
  color: #b91c1c;
}

.reset-box input {
  width: 93%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.reset-box button {
  width: 100%;
  padding: 12px;
  background-color: #b91c1c; /* เขียว */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.reset-box button:hover {
  background-color: #ec0909;
}

.success-box {
  background-color: #e0ffe0;
  color: #0a0;
  padding: 12px;
  margin-top: 16px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.error-box {
  background-color: #ffe0e0;
  color: #c00;
  padding: 12px;
  margin-top: 16px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 480px) {
  .reset-box {
    padding: 24px 16px;
  }

  .reset-box h1 {
    font-size: 20px;
  }

  .reset-box input,
  .reset-box button {
    font-size: 14px;
  }
}
