nav {
    width: 100%;
    padding: 0;
    background: linear-gradient(to bottom left, #991b1b, #dc2626, #f34e4e);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: auto 1fr auto; /* 3 ส่วน: LOGO | เมนู | โปรไฟล์/เข้าสู่ระบบ */
    align-items: center;
}

.nav-left {
    padding-left:25px;
}

.nav-center {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
    padding-right: 5px;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    color: yellow;
    transition: 0.5s;
}

nav i{
    font-size: 20px;
}

@media (max-width: 768px) {

    
}